@media screen and (orientation: landscape) {
    body {
        background-image: url("../../images/background/pergaminho.png");
        background-repeat: no-repeat;
        background-position:32vw 0.1vw;
        background-size: 35vw;
        background-color: #F6F6F6;
    }
}